body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: green;
    
}

.belowHeader{
    margin-top: 60px
}

#buttons{
    margin: auto;
    
}
h1{
    text-emphasis: bolder;
}
header{
    text-align: center;
    margin: 20 0 80 0;
    padding-top: 80px;
}

img{
    margin-bottom: 15px;
    margin-right: 15px;
    margin: auto;

}

.characterDiv{
    display:inline-block;
    background-color: red;
    margin-bottom: 20px;
    margin: 0 10 20 10;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

p{
    text-align: center;
}

#new-gifs{
    margin-top: 40px;
    background-color: darkgrey;
    margin: auto;
    padding: 20px;
}


