body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/papyrus-dark.png");
}

.container{
    background: url("../images/papyrus-dark.png");
    border: 1px white solid;
    
}

.belowHeader{
    margin-top: 60px
}

.gif-btn{
    margin: 5px;
}

#buttons{
    margin: auto;   
}


header{
    text-align: center;
    margin: 20 0 80 0;
    padding-top: 40px;
    text-emphasis: bolder;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
    background: url("../images/papyrus-dark.png");
}


.gif-container{
    margin-top: 30px;
    text-align: center;
    background-color: white;
    margin: auto;
}

.characterDiv{
    display:inline-block; 
    background: url("../images/papyrus-dark.png");
    border: solid 2px white;
    padding: 10px
}

.top{
    border-bottom: 1px white solid
}

p{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: white;
}

.btn-primary{
    margin-right: 50px;
}

.fave-btn{
    color: black;
    background-color: gold;
}



#new-gifs{
    background: url("../images/papyrus-dark.png");
}


